.boton-clear {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
    border-radius: 26px;
    background: linear-gradient(145deg, #0f510d, #077d21);
    box-shadow: 5px 5px 10px #9b9b9b,
    -5px -5px 10px #ffffff;
}

.boton-clear:active {
    box-shadow: none;
}