.boton-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    color: white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    border-radius: 26px;
    background: linear-gradient(145deg, #000, #333);
    box-shadow: 5px 5px 10px #9b9b9b,
    -5px -5px 10px #ffffff;
}

.boton-contenedor:active {
    box-shadow: none;
}

.operador {
    border-radius: 26px;
    background: linear-gradient(145deg, #2b22b4, #0d0f87);
    box-shadow: 5px 5px 10px #9b9b9b,
    -5px -5px 10px #ffffff;
}